mat-card{
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;

}

button{
  width: 100%;
}

.container {
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: grey;
}

.full-width {
  width: 100%;
}