<div class="container">
  <mat-card>
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required>
          <mat-error *ngIf="forgetPasswordForm.get('username')?.hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="forgetPasswordForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" required>
          <mat-error *ngIf="forgetPasswordForm.get('confirmPassword')?.hasError('required')">
            Confirm Password is required
          </mat-error>
          <mat-error *ngIf="forgetPasswordForm.hasError('passwordMismatch')">
            Passwords must match
          </mat-error>
        </mat-form-field>
    
        <button mat-raised-button color="primary" type="submit" [disabled]="forgetPasswordForm.invalid">
          Reset Password
        </button>
        
         <button mat-raised-button color="danger" type="button" (click)="onClose()">Cancle</button>
      </form>
    </mat-card>
  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  